USE [Merh_Univer]
GO
/****** Object:  StoredProcedure [dbo].[PSUBJECT]    Script Date: 14.05.2021 18:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[PSUBJECT] 
	@P VARCHAR(20) = NULL,
	@C INT OUTPUT AS
	BEGIN
		DECLARE @COUNT INT = ( SELECT COUNT( * ) FROM SUBJECT )
		SELECT
			SUBJECT.SUBJECT AS 'КОД',
			SUBJECT.SUBJECT_NAME AS 'НАЗВАНИЕ',
			SUBJECT.PULPIT AS 'КАФЕДРА'
		FROM SUBJECT
			WHERE SUBJECT.SUBJECT = @P
		SET @C = @@ROWCOUNT
		RETURN @COUNT
	END;
